<manifest xmlns:android="http://schemas.android.com/apk/res/android">
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <application
        android:name=".SlotellyApp"
        android:allowBackup="true"
        android:label="Slotelly NEW"
        android:icon="@drawable/ic_slotelly"
        android:roundIcon="@drawable/ic_slotelly"
        android:theme="@style/Theme.Slotelly">
        <activity android:name=".MainActivity" android:exported="false" />
        <activity android:name=".SlotellyActivity" android:exported="false" />
        <activity android:name=".NativeMainActivity" android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>
</manifest>
